* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

a:visited {
    color: initial;
}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header>a:first-child {
    color: white;
    font-size: 22px;
    font-weight: 700;
}

header a:hover {
    color: #01813F;
    transition: 0.4s;
}

.header-menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu .calendar-icon {
    display: block;
    width: 21px;
    height: 24px;
    background-image: url(../images/Vector\ \(1\).png);
    color: white;
}

.header-menu .mail-icon {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../images/Vector\ \(2\).png);
    background-repeat: no-repeat;
    color: white;
}

.header-menu .browser-icon {
    display: block;
    width: 23px;
    height: 24px;
    background-image: url(../images/Vector\ \(3\).png);
    color: white;
}

.header-menu .calendar-icon:hover {
    background-image: url(../images/calendar-alt-regular\ 1.png);
    transition: 0.4s;
}

.header-menu .mail-icon:hover {
    transition: 0.4s;
    background-image: url(../images/envelope-open-regular\ 1.png);
}

.header-menu .browser-icon:hover {
    transition: 0.4s;
    background-image: url(../images/compass-regular\ 1.png);
}

.header-menu p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    transition: 0.4s;
}

.header-menu p:hover {
    color: rgb(146, 146, 146);
    
}

.header-menu p>a {
    color: white;
}

.header-menu p>a:hover {
    color: #01813F;
    transition: 0.4s;
}

.header-menu-display {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
        
path:hover {
    color: #01813F;
    transition: 0.4s;
}


main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 445px;
    height: 585px;
    background-color: white;
}

.sign-up-menu .modal {
    width: 18px;
    height: 18px;
    background-color:#3CB878;
    position: absolute;
    top: 30px;
    left: 0px;
}

.sign-up-menu .container {
    width: 335px;
    height: 530px;
}

.sign-up-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.sign-up-menu-top p {
    margin: 0 5px;
}
.sign-up-menu-top a {
    margin: 0 5px;
}

.sign-up-menu-top li:first-child {
    font-size: 20px;
}


.sign-up-menu-top a:last-child {
    font-size: 14px;
    color: #3CB878;
}

.sign-up-menu-top a:last-child:hover {
    color: #01813F;
    text-decoration: underline;
    text-decoration-color: #01813F;
    transition: 0.4s;
}


.sign-up-buttons {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}

.facebook-button {
    width: 160px;
    height: 50px;
    background-color: #305DB8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.facebook-button a {
    color: white;
}

.facebook-button:hover {
    background-color: #022263;
    transition: 0.4s;
}


.google-button {
    width: 160px;
    height: 50px;
    background-color: #DF4A32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.google-button a {
    color: white;
}

.google-button:hover {
    background-color: #AB1F09;
    transition: 0.4s;
}

.center-lines {
    font-weight: 10;
    font-size: 14px;
    opacity: 0.2;
    margin-top: 25px;
    display: flex;
    position: relative;
    justify-content: center;
}

.center-lines p::before {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 30px;
    background-color: black;

}

.center-lines p::after {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 30px;
    background-color: black;

}

.inputs-holders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-name input[type=text] {
    padding: 0 20px;
    margin-top: 10px;
    width: 325px;
    height: 46px;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

.first-name input[type=text]:focus {
    border: none;
    box-shadow: 0px 3px 8px 0px #00000036;
    outline: none;

}

.last-name input[type=text] {
    padding: 0 20px;
    margin-top: 10px;
    width: 325px;
    height: 46px;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

.last-name input[type=text]:focus {
    border: none;
    outline: none;
    box-shadow: 0px 3px 8px 0px #00000036;

}

.email input[type=email] {
    padding: 0 20px;
    margin-top: 10px;
    width: 325px;
    height: 46px;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

.email input[type=email]:focus {
    border: none;
    outline: none;
    box-shadow: 0px 3px 8px 0px #00000036;

}


.password input[type=password] {
    padding: 0 20px;
    margin-top: 10px;
    width: 325px;
    height: 46px;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

.password input[type=password]:focus {
    border: none;
    outline: none;
    box-shadow: 0px 3px 8px 0px #00000036;

}

.confirm-password input[type=password] {
    padding: 0 20px;
    margin-top: 10px;
    width: 325px;
    height: 46px;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

.confirm-password input[type=password]:focus {
    border: none;
    outline: none;
    box-shadow: 0px 3px 8px 0px #00000036;

}


.checkbox {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 12px;
    position: relative;
}

.checkbox-input {
    display: none;
}

.checkbox label {
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-image: url(../images/Vector\ 1.svg);
    background-repeat: no-repeat;
    opacity: 0.2;
    border: 1px solid black;
    position: absolute;
}

.checkbox label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-image: url(../images/Vector\ 1.svg);
    background-repeat: no-repeat;
    opacity: 0.2;
    border: 1px solid black;
}

.checkbox-input:checked + label::before {
    opacity: 1;
}

.checkbox p {
    font-size: 14px;
}

.checkbox a {
    color: #3CB878;
    font-size: 14px;
}

.checkbox a:hover {
    text-decoration: underline;
    text-decoration-color: #01813F;
    text-underline-offset: 5px;
    color: #01813F;
    font-size: 14px;
    transition: 0.4s;
}

.confirm-button {
    display: flex;
    justify-content: center;    
    margin-top: 20px;
}

.confirm-button button{
    font-size: 16px;
    color: white;
    width: 324px;
    height: 46px;
    background-color: #3CB878CC;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.confirm-button button:hover{
    background-color: #01813F;
    transition: 0.4s;
}











